body{
	background-image: url("mathbg.gif");
	background-size: cover;
}
#div1 {
  height: 800px;
  width: 800px;
  margin: 20px auto;
  background: grey;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 10px 10px 8px;
}
.button {
  width: 300px;
  height: 100px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}
.button:active{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
    );
  animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#div1 {
  display: flex;
  justify-content: center;
}

#div1-item + .flex-item {
  margin-left: 10px;
}
.block-display button{
  margin-bottom:5px;
  display:block;
}