body{
	background-image: url("2mathbg.gif");
  background-size:20%;
}
#back{
  font-size: 20px;
 float: left;
}
#div1 {
  height: 300px;
  margin: 20px auto;
  background: grey;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 10px 10px 8px;
}
html{
  font-family: Arial;
  font-size:20px;
  text-align: center;
}
h1{
  font-size:100px;
  text-align: center;
}
